@charset "UTF-8";
/* CSS Document */
  
/*hidden on load*/
#cropLogForm,
#actionLogForm,
#quickNoteForm, 
#chronOldest,
#chronNewest,
.hideShow {
    display: none;
}

/*styling*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #3B3B3B;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    font-family: 'Arvo', serif;
    font-weight: normal;
    color: #107710;
}

em {
    color:  #3B3B3B;
}

a {
    text-decoration: none;
    color: #107710;
}

.red {
    font-weight: bold;
    color: red;
}

span.searchword { 
    background-color: #C5E3BF; 
}

#header {
    margin-top: 45px;
    margin-bottom: 30px;
}

#phoneHeader {
    margin-top: 25px;
}

.header h1 {
    text-transform: lowercase;
    font-size: 3.8em;
}

.tagline {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-family: 'Arvo', serif;
    color: #3B3B3B;
}

/*.header p a {
    color: #3B3B3B;
}*/

.sidebar ul {
    list-style-type: none;
    margin: 0 0 0px 0px;
}

.sidebar li {
    border-bottom: 1px solid #E7DFD7;
    margin: 0px 0px;
    padding: 10px 0px;
    border-left: none;
    list-style-type: none;
    line-height: 180%;
}

.sidebar li a {
    color: #3B3B3B;
}

.form {
    margin-bottom: 25px;
    padding: 15px 25px 25px 25px;
    border: 1px solid #E7DFD7;
    background: #F8F8F8;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-bottom-right-radius: 60px;
        -moz-border-radius-topleft: 20px;
        -moz-border-radius-bottomright: 60px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 60px;
}

.cropContainer {
    padding: 10px 20px 20px 20px;
    margin: 20px 0px 25px 0px;
    border: 1px solid #E7DFD7;
    background: #F8F8F8;
        -webkit-border-top-right-radius: 60px;
        -webkit-border-bottom-left-radius: 20px;
        -moz-border-radius-topright: 60px;
        -moz-border-radius-bottomleft: 20px;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 20px;
}

.actionContainer,
.quickContainer {
    padding: 0px 5px 0px 15px;
    margin: 10px 0px 0px 0px;
    border-left: 3px solid;
    border-color: #107710;
}

.logByDate p {
    margin-left: 15px;
}